<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAnuncianteController</servlet-name>
        <servlet-class>controller.ManterAnuncianteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTrabalhoController</servlet-name>
        <servlet-class>controller.ManterTrabalhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterRequisicaoController</servlet-name>
        <servlet-class>controller.ManterRequisicaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAnuncianteController</servlet-name>
        <servlet-class>controller.PesquisaAnuncianteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTrabalhoController</servlet-name>
        <servlet-class>controller.PesquisaTrabalhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaRequisicaoController</servlet-name>
        <servlet-class>controller.PesquisaRequisicaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAnuncianteController</servlet-name>
        <url-pattern>/PesquisaAnuncianteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTrabalhoController</servlet-name>
        <url-pattern>/PesquisaTrabalhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTrabalhoController</servlet-name>
        <url-pattern>/PesquisaTrabalhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaRequisicaoController</servlet-name>
        <url-pattern>/PesquisaRequisicaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAnuncianteController</servlet-name>
        <url-pattern>/ManterAnuncianteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTrabalhoController</servlet-name>
        <url-pattern>/ManterTrabalhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterRequisicaoController</servlet-name>
        <url-pattern>/ManterRequisicaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    
    <error-page>
        <error-code>500</error-code>
        <location>/erro500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/erro404.jsp</location>
    </error-page>
</web-app>
